:root {
  --ff1: "PT Sans", sans-serif;
  --ff2: "Rubik", sans-serif;
  --col01: #E50012;
  --col02: #007579;
  --col03: #FFF100;
  --col04: #333333;
  --col05: #333333;
  --col06: #ffffff;
  --col07: #1B1B1B;
  --fsz: 16px;
  --bdr-op: 0.1;
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pt-sans-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-v17-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/pt-sans-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-v17-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v21-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v21-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/rubik-v21-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/rubik-v21-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  overflow-x: hidden;
  font-family: var(--ff1);
  background-color: var(--col05);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fsz);
  line-height: 1.5;
  color: var(--col06);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.swiper-button-next,
.swiper-button-prev {
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--col01);
  border-radius: 0;
  transition: all 0.3s;
  /* svg {
    position: relative;
    z-index: 2;
  }

  svg path {
    transition: all 0.3s;
  } */
  /* &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    transition-property: left, top, width, height;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
  } */
  /* &:hover {
    background-color: #91C137 !important;

    &::before {
      left: -4px;
      top: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      background-color: #91C137;
    }

    svg path {
      stroke: #ffffff;
    }

    svg .cust {
      stroke: none;
      fill: #ffffff;
    }
  } */
  /* &:after {
    display: none;
  } */
  /* @media (max-width: 650px) {
    width: 60px;
    height: 60px;
  } */
}

/* .swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: absolute;
  color: #000000;
} */
/* .swiper-button-next:after {
  left: 50px;
}
.swiper-button-prev:after {
  right: 50px;
} */
/* @media (max-width: 1024px) {
  .slider-button:after {
    font-size: 30px;
  }

  .swiper-button-next:after {
    left: 22px;
}

.swiper-button-prev:after {
  right: 22px;
}
} */
.body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1448px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  /* @media (max-width: 1440px) {
    padding: 0 20px;
  }

  @media (max-width: 425px) {
    padding: 0 10px;
  } */
  /* @media (max-width: 768px) {
    padding: 0 40px;
  } */
  /* @media (max-width: 650px) {
    padding: 0 20px;
  } */
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  text-decoration: none;
  padding: 12px 16.5px;
  height: 48px;
  background-color: var(--col01);
}
.button span {
  /* position: relative;
  font-family: inherit;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px 40px;
  height: 64px;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #ffffff;
  cursor: pointer;
  max-width: max-content;
  transform: translateY(-3px);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  background: linear-gradient(0deg, #ff0000 30.88%, #c00505 92.19%);
  border-radius: 20px;
  z-index: 2; */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: var(--ff1);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--col06);
  margin-right: 10px;
}

.button-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-slider::after, .button-slider::before {
  display: none;
}
.button-slider svg {
  pointer-events: none;
}

.nav-button {
  box-shadow: none;
  transform: none;
  border: none;
  height: 50px;
  width: 50px;
  background-color: var(--col01);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-button span {
  width: 20px;
  height: 2px;
  background-color: var(--col06);
  display: block;
  border-radius: 0 0 3px 3px;
  pointer-events: none;
  transition: all 0.2s;
}
.nav-button span::before, .nav-button span::after {
  content: "";
  width: inherit;
  height: inherit;
  background-color: var(--col06);
  display: inherit;
  position: absolute;
  border-radius: inherit;
  pointer-events: initial;
  transition: initial;
}
.nav-button span:before {
  margin-top: -6px;
}
.nav-button span::after {
  margin-top: 6px;
}
.nav-button.open span {
  background-color: transparent;
  border-radius: 0;
}
.nav-button.open span:before {
  margin-top: 0;
  transform: rotate(45deg);
}
.nav-button.open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--col06);
  margin: 0;
  margin-bottom: 5px;
  font-family: inherit;
  text-transform: uppercase;
}
.title--mod {
  position: relative;
  padding-left: 32px;
  margin-bottom: 23px;
}
.title--mod::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--col03);
}

.text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  line-height: 1.4;
  color: inherit;
  margin: 0;
}

@media (max-width: 425px) {
  .logo {
    max-width: 60px;
  }
}

.section-grid {
  z-index: 2;
  position: relative;
  padding-bottom: 160px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
}
.section-grid__content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 12px;
}
.section-grid__left {
  padding-top: 68px;
  padding-right: 20px;
}
.section-grid__left .text {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
  margin-bottom: 34px;
  font-size: 16px;
}
.section-grid__left .button {
  padding: 12px 22px;
}
@media (max-width: 1024px) {
  .section-grid {
    padding-bottom: 90px;
  }
  .section-grid__content {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .section-grid .sticky-content {
    position: initial;
    top: initial;
  }
  .section-grid__left {
    padding-top: 50px;
    padding-right: initial;
  }
  .section-grid__left .title {
    font-size: 36px;
  }
}

.sticky-content {
  position: sticky;
  top: 163px;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-top: -64px;
}
.content-grid__photo img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.content-grid__item-footer {
  padding: 7px 24px;
  background-color: var(--col05);
  color: var(--col06);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-top: 0;
}
.content-grid__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-grid__title h3 {
  margin: 0;
  margin-right: 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: inherit;
}
.content-grid__item-description {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
}
.content-grid .clear {
  background-color: transparent;
}
.content-grid .clear .content-grid__title {
  padding-top: 10px;
  padding-bottom: 12px;
  position: relative;
}
.content-grid .clear .content-grid__title::after {
  content: "";
  background-color: rgba(217, 217, 217, 0.3);
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
@media (max-width: 1024px) {
  .content-grid {
    margin-top: initial;
  }
}

.header {
  padding: 14px 0 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -1px;
  left: 0;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 40px;
}
.header__logo a {
  display: flex;
  align-items: center;
  min-height: var(--elem-sz);
  background-color: transparent;
  max-width: max-content;
  transition: all 0.3s;
}
.header__logo a:hover, .header__logo a:active, .header__logo a:focus {
  background-color: var(--col4);
}
.header__logo svg {
  width: 34px;
  height: 33px;
  margin-right: 33px;
}
.header__logo span {
  font-family: var(--ff1);
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--col-wh);
  margin: 0;
  padding: 0;
}
.header__menu ul {
  display: flex;
}
.header__menu li {
  margin-right: 32px;
}
.header__menu li:last-child {
  margin-right: 0;
}
.header__menu a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.header__contacts {
  margin-left: auto;
  position: relative;
  padding-right: 20px;
}
.header__contacts:after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--col01);
}
.header__contacts-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 6px;
}
.header__logo-two span {
  display: block;
  font-family: var(--ff2);
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
}
.header__tel a {
  display: flex;
  align-items: center;
  font-family: var(--ff2);
}
.header__tel span {
  margin-left: 8px;
}
.header__buttons {
  display: none;
}
@media (max-width: 1024px) {
  .header__logo img {
    height: 50px;
    width: auto;
  }
  .header__contacts-flex {
    margin-top: 0;
  }
  .header__menu {
    display: none;
  }
  .header__buttons {
    display: block;
  }
  .header__contacts:after {
    display: none;
  }
  .header__logo-two span {
    font-size: 26px;
  }
}

.first__slider-item {
  height: 100vh;
}
.first__slider-image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.first__slider-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.first__slider-content {
  position: relative;
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.first__slider-content .wrapper {
  margin-bottom: 128px;
}
.first .title {
  font-size: 80px;
}
.first .text {
  margin-bottom: 25px;
}
.first__slider-navigation {
  position: absolute;
  z-index: 99;
  width: 100%;
  bottom: 0;
  right: 0;
}
.first__slider-navigation .wrapper {
  position: relative;
  margin-bottom: 128px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.first__slider-navigation ul {
  display: flex;
  max-width: max-content;
}
.first__slider-navigation li {
  margin-right: 16px;
}
.first__slider-navigation li:last-child {
  margin-right: 0;
}
.first .swiper-button-next,
.first .swiper-button-prev {
  position: initial;
  margin: 0;
}
.first .swiper-pagination {
  max-width: max-content;
  position: initial;
  margin: 0;
  width: initial;
  margin-right: 32px;
}
@media (max-width: 1024px) {
  .first__slider-item {
    height: initial;
  }
  .first__slider-content {
    padding: 40px 0;
    min-height: 575px;
  }
  .first__slider-content .wrapper {
    margin-bottom: initial;
  }
  .first__slider-content .title {
    font-size: 60px;
  }
  .first__slider-content .text {
    font-size: 18px;
  }
  .first__slider-navigation .wrapper {
    margin-bottom: 40px;
  }
}

.catalog-preview {
  background-color: var(--col05);
  color: var(--col06);
}
.catalog-preview__card a {
  text-decoration: none;
  display: block;
}

.sale {
  background-color: var(--col02);
  color: var(--col06);
  padding-bottom: 80px;
}
.sale .content-grid {
  grid-template-columns: 1fr 1fr;
  margin-top: -80px;
}
.sale .content-grid__item-footer {
  padding: 0 24px;
}
.sale .content-grid__item-description {
  padding-top: 22px;
  padding-bottom: 26px;
}
@media (max-width: 1024px) {
  .sale .content-grid {
    margin-top: initial;
  }
}

.footer {
  background-color: var(--col07);
  color: var(--col06);
  padding: 53px 0 50px;
}
.footer__grid {
  display: grid;
  grid-template-columns: 4fr 2fr 6fr;
  gap: 32px;
}
.footer__title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--col06);
  align-items: center;
  padding-bottom: 18px;
  position: relative;
}
.footer__title:after {
  content: "";
  background-color: rgba(217, 217, 217, 0.3);
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.footer__title span {
  margin-right: 16px;
}
.footer__list {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.footer__sublist li {
  position: relative;
  padding-left: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.footer__sublist li::before {
  content: "";
  background-color: var(--col03);
  width: 8px;
  height: 2px;
  position: absolute;
  left: 0;
}
.footer__sublist li a {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.footer__nav li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 22px;
  position: relative;
}
.footer__nav li:first-child {
  padding-top: 5px;
}
.footer__nav li:after {
  content: "";
  background-color: rgba(217, 217, 217, 0.3);
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.footer__nav li:last-child:after {
  display: none;
  padding-bottom: 0;
}
.footer__nav li a {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: block;
}
.footer__right {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
}
.footer__right b,
.footer__right span {
  color: var(--col06);
}
.footer__address {
  margin: 0;
  margin-bottom: 33px;
}
.footer__address li {
  margin-bottom: 12px;
}
.footer__copy {
  font-size: 16px;
}
.footer__copy a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.footer__copy a b {
  margin: 0 12px;
}
.footer__copy p {
  margin: 0;
}

.header-sticky .header {
  background-color: var(--col06);
  color: var(--col07);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}
.header-sticky .header::after {
  display: none;
}
.header-sticky .header__logo-two {
  color: var(--col07);
}