@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
:root {
  --ff1: "PT Sans", sans-serif;
  --ff2: "Rubik", sans-serif;
  --col01: #E50012;
  --col02: #007579;
  --col03: #FFF100;
  --col04: #333333;
  --col05: #333333;
  --col06: #ffffff;
  --col07: #1B1B1B;
  --col08: #292929;
  --col-wh: #ffffff;
  --fsz: 16px;
  --bdr-op: 0.1;
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pt-sans-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-v17-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/pt-sans-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-v17-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v21-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v21-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/rubik-v21-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/rubik-v21-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: var(--ff1);
  background-color: var(--col05);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fsz);
  line-height: 1.5;
  color: var(--col06);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.body {
  min-height: 100vh;
}

.wrapper {
  max-width: 1488px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .wrapper {
    padding: 0 20px;
  }
}

.container {
  max-width: 928px;
  margin: 0 auto;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  text-decoration: none;
  padding: 12px 16.5px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button::before {
  content: "";
  display: block !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--col01);
  transition: all 0.2s ease-in-out;
}
.button span {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: var(--ff1);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: var(--col06);
  position: relative;
}
.button svg {
  position: relative;
  pointer-events: none;
  transform: translateX(0);
  transition: all 0.3s;
}
.button svg path {
  stroke: #FFF100 !important;
}
.button svg .line {
  transition: all 0.3s;
  transform: translateX(8px);
}
.button:hover::before {
  width: calc(100% + 16px);
  left: -8px;
  right: -8px;
}
.button:hover svg {
  transform: translateX(8px);
}
.button:hover svg .line {
  transform: translateX(0);
}

.nav-button {
  box-shadow: none;
  transform: none;
  border: none;
  height: 50px;
  width: 50px;
  background-color: var(--col01);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-button span {
  width: 20px;
  height: 2px;
  background-color: var(--col06);
  display: block;
  border-radius: 0;
  pointer-events: none;
  transition: all 0.2s;
}
.nav-button span::before, .nav-button span::after {
  content: "";
  width: inherit;
  height: inherit;
  background-color: var(--col06);
  display: inherit;
  position: absolute;
  border-radius: inherit;
  pointer-events: initial;
  transition: initial;
}
.nav-button span:before {
  margin-top: -6px;
}
.nav-button span::after {
  margin-top: 6px;
}
.nav-button.open span {
  background-color: transparent;
  border-radius: 0;
}
.nav-button.open span:before {
  margin-top: 0;
  transform: rotate(45deg);
}
.nav-button.open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
}
@media (max-width: 375px) {
  .nav-button {
    height: 44px;
    width: 44px;
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--col06);
  margin: 0;
  margin-bottom: 5px;
  font-family: inherit;
  text-transform: uppercase;
}
.title--mod {
  position: relative;
  padding-left: 32px;
  margin-bottom: 23px;
}
.title--mod::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--col03);
}
@media (max-width: 425px) {
  .title--mod {
    padding-left: 12px;
  }
}

.text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 20px;
  line-height: 1.4;
  color: inherit;
  margin: 0;
}

@media (max-width: 425px) {
  .logo {
    max-width: 60px;
  }
}

.section-grid {
  z-index: 2;
  position: relative;
  padding-bottom: 160px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
}
.section-grid__content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 12px;
}
.section-grid__left {
  padding-top: 68px;
  padding-right: 20px;
}
.section-grid__left .text {
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
  margin-bottom: 34px;
  font-size: 16px;
}
.section-grid__left .button {
  padding: 12px 22px;
}
.section-grid--full {
  border: none;
  padding-bottom: initial !important;
}
.section-grid--full .section-grid__content {
  grid-template-columns: 1fr;
}
.section-grid--full .content-grid {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: initial;
}
@media (max-width: 1024px) {
  .section-grid {
    padding-bottom: 90px;
  }
  .section-grid__content {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .section-grid .sticky-content {
    position: initial;
    top: initial;
  }
  .section-grid__left {
    padding-top: 50px;
    padding-right: initial;
  }
  .section-grid__left .title {
    font-size: 36px;
  }
  .section-grid--full .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .section-grid--full {
    padding-bottom: 50px;
  }
  .section-grid--full .content-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 425px) {
  .section-grid .section-grid__left .title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .section-grid .section-grid__left .text {
    margin-bottom: 16px;
    font-size: 16px;
  }
}

.sticky-content {
  position: sticky;
  top: 163px;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-top: -64px;
}
.content-grid__photo {
  overflow: hidden;
}
.content-grid__photo img {
  display: block;
  width: 100%;
  object-position: top center;
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  -ms-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
}
.content-grid__item-footer {
  padding: 7px 24px;
  background-color: var(--col05);
  color: var(--col06);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-top: 0;
  transition: all 0.3s;
}
.content-grid__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-grid__title h3 {
  margin: 0;
  margin-right: 16px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: inherit;
}
.content-grid__title svg {
  flex-shrink: 0;
}
.content-grid .clear {
  background-color: transparent;
}
.content-grid .clear .content-grid__title {
  padding-top: 10px;
  padding-bottom: 12px;
  position: relative;
  margin-bottom: 22px;
}
.content-grid .clear .content-grid__title::after {
  content: "";
  background-color: rgba(217, 217, 217, 0.3);
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.content-grid .clear .content-grid__item-description {
  margin-bottom: 34px;
}
.content-grid a {
  text-decoration: none;
  display: block;
}
.content-grid a svg path {
  transition: all 0.3s;
}
.content-grid a svg .line {
  transition: all 0.3s;
  transform: translateX(8px);
}
.content-grid a:hover .content-grid__item-footer, .content-grid a:focus .content-grid__item-footer {
  background-color: #fff;
  color: #333333;
}
.content-grid a:hover svg path, .content-grid a:focus svg path {
  stroke: var(--col01);
}
.content-grid a:hover svg .line, .content-grid a:focus svg .line {
  transform: translateX(0);
}
.content-grid a:hover .content-grid__photo img, .content-grid a:focus .content-grid__photo img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  .content-grid {
    margin-top: initial;
  }
}
@media (max-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .clear .content-grid__title {
    display: block;
  }
  .clear .content-grid__title h3 {
    margin-right: initial;
  }
  .clear .content-grid__title svg {
    display: none;
  }
}
@media (max-width: 425px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
  .content-grid__photo {
    max-height: 250px;
  }
  .content-grid__photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-position: center;
  }
}

.phone span {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--col06);
  margin-left: 16px;
}

.arrow-icon line {
  transform: translateY(8px);
  transition: all 0.3s;
}
.arrow-icon path {
  transition: all 0.3s;
}

.swiper-button,
.navigation-button {
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  transition: all 0.3s;
  z-index: 2;
  background-color: transparent;
  position: relative !important;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  margin: 0;
  cursor: pointer;
}
.swiper-button::after,
.navigation-button::after {
  display: none;
}
.swiper-button::before,
.navigation-button::before {
  content: "";
  display: block !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--col01);
  transition: all 0.2s ease-in-out;
}
.swiper-button svg,
.navigation-button svg {
  z-index: 2;
  pointer-events: none;
  flex-shrink: 0;
  position: absolute;
}
.swiper-button:hover::before,
.navigation-button:hover::before {
  width: calc(100% + 16px);
  left: -8px;
  right: -8px;
}

.swiper-button-prev path,
.navigation-button-prev path {
  transform: translateX(8px);
  transition: all 0.3s;
}
.swiper-button-prev .line,
.navigation-button-prev .line {
  stroke: #ffffff;
  transform: translateX(-8px);
  transition: all 0.3s;
}
.swiper-button-prev:active path, .swiper-button-prev:hover path, .swiper-button-prev:focus path,
.navigation-button-prev:active path,
.navigation-button-prev:hover path,
.navigation-button-prev:focus path {
  transform: translateX(0);
}
.swiper-button-prev:active .line, .swiper-button-prev:hover .line, .swiper-button-prev:focus .line,
.navigation-button-prev:active .line,
.navigation-button-prev:hover .line,
.navigation-button-prev:focus .line {
  transform: translateX(0);
}
@media (max-width: 375px) {
  .swiper-button-prev,
.navigation-button-prev {
    height: 44px !important;
    width: 44px !important;
  }
}

.swiper-button-next path,
.navigation-button-next path {
  transform: translateX(-8px);
  transition: all 0.3s;
}
.swiper-button-next .line,
.navigation-button-next .line {
  stroke: #ffffff;
  transform: translateX(8px);
  transition: all 0.3s;
}
.swiper-button-next:active path, .swiper-button-next:hover path, .swiper-button-next:focus path,
.navigation-button-next:active path,
.navigation-button-next:hover path,
.navigation-button-next:focus path {
  transform: translateX(0);
}
.swiper-button-next:active .line, .swiper-button-next:hover .line, .swiper-button-next:focus .line,
.navigation-button-next:active .line,
.navigation-button-next:hover .line,
.navigation-button-next:focus .line {
  transform: translateX(0);
}
@media (max-width: 375px) {
  .swiper-button-next,
.navigation-button-next {
    height: 44px !important;
    width: 44px !important;
  }
}

.navigation-button--disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.inner-page {
  padding-top: 156px;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 16px;
}
.pagination__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.pagination__item {
  margin-right: 24px;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__link {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s;
}
.pagination__link--is-dots {
  border-color: transparent;
}
.pagination__link--is-active {
  background-color: var(--col02);
  border-color: var(--col02);
  pointer-events: none;
}
.pagination__link:hover {
  background-color: #fff;
  color: #333333;
}
@media (max-width: 768px) {
  .pagination__list {
    margin: 0 12px;
  }
  .pagination__item {
    margin-right: 12px;
  }
  .pagination__link {
    width: 40px;
    height: 40px;
  }
  .pagination .navigation-button {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 375px) {
  .pagination__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .pagination__list {
    margin: 0;
    order: -1;
    grid-column: 1/-1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pagination .navigation-button {
    width: 100%;
  }
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.breadcrumbs li {
  margin-right: 12px;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}
.breadcrumbs a svg {
  transform: rotate(180deg);
}
.breadcrumbs a .line {
  transform: translateX(7px);
  transition: all 0.3s;
}
.breadcrumbs a span {
  transition: all 0.3s;
}
.breadcrumbs a:hover .line {
  transform: translateX(0);
}
.breadcrumbs a:hover span {
  margin-left: 7px;
  color: var(--col03);
}

.content__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content__contacts-list li {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  color: #ffffff;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 24px !important;
  display: block !important;
}
.content__contacts-list li::after {
  display: none !important;
}
.content__contacts-list li::before {
  display: none !important;
}
.content__contacts-list span {
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #c1c1c1;
}
.content__contacts-list a {
  text-decoration-line: underline;
  color: #ffffff;
}
.content__contacts-list a[href^="tel:"] {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-decoration-line: none;
}
.content__contacts-list a[href^="mailto:"] {
  font-weight: 700;
  font-size: 24px;
  color: #FFF100;
  text-decoration-line: underline;
}

.top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.top-grid__right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.price {
  font-weight: 700;
  display: block;
  font-size: 32px;
  line-height: 1;
  text-align: right;
  color: #ffffff;
  margin-bottom: 12px;
}

.accordion {
  border: 1px solid;
  border-color: rgba(217, 217, 217, 0.3);
  margin-bottom: 16px;
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: inherit;
  margin: 0;
  padding: 11px 24px;
  text-transform: uppercase;
  transition: all 0.3s;
  pointer-events: none;
}
.accordion__arrow {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid;
  border-color: rgba(217, 217, 217, 0.3);
  pointer-events: none;
}
.accordion__arrow svg {
  transform: rotate(90deg);
  transition: all 0.3s;
}
.accordion__arrow svg path {
  transition: all 0.3s;
  transform: translateX(-4px);
}
.accordion__arrow svg .line {
  transition: all 0.3s;
  transform: translateX(4px);
}
.accordion__top {
  display: grid;
  grid-template-columns: auto 55px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid;
  border-color: transparent;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: left;
  color: var(--col-wh);
}
.accordion__top:hover {
  background-color: #ffffff;
  color: #333333;
}
.accordion__top:hover svg path {
  transform: translateX(0);
  stroke: var(--col01);
}
.accordion__top:hover svg .line {
  transform: translateX(0);
}
.accordion__top.active {
  border-color: rgba(217, 217, 217, 0.3);
}
.accordion__top.active svg {
  transform: rotate(-90deg);
}
.accordion__body {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  color: #bababa;
}
.accordion__body span {
  font-weight: 700;
  color: #ffffff;
}
.accordion__body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion__body li {
  margin-bottom: 0.7em;
}
.accordion__body li:last-child {
  margin-bottom: 0;
}
.accordion__body small {
  padding-top: 1em;
  opacity: 0.7;
  display: block;
  font-style: italic;
  border-top: 1px solid;
  border-color: rgba(217, 217, 217, 0.3);
  margin-top: 1em;
}
.active + .accordion__body {
  padding: 17px 24px 32px;
  opacity: initial;
  visibility: initial;
  height: initial;
  overflow: initial;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s;
  z-index: 999;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -1px;
  left: 0;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 40px;
}
.header__logo a {
  display: flex;
  align-items: center;
  min-height: var(--elem-sz);
  background-color: transparent;
  max-width: max-content;
  transition: all 0.3s;
}
.header__logo a:hover, .header__logo a:active, .header__logo a:focus {
  background-color: var(--col4);
}
.header__logo svg {
  width: 34px;
  height: 33px;
  margin-right: 33px;
}
.header__logo span {
  font-family: var(--ff1);
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--col-wh);
  margin: 0;
  padding: 0;
}
.header__logo img {
  display: block;
}
.header__menu ul {
  display: flex;
}
.header__menu li {
  padding: 28px 16px;
  position: relative;
  z-index: 22;
  background-color: transparent;
  transition: all 0.3s;
}
.header__menu a {
  font-size: 14px;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 700;
}
.header__menu a span {
  position: relative;
  z-index: 2;
}
.header__menu a svg {
  position: relative;
  z-index: 2;
  pointer-events: none;
  margin-left: 8px;
}
.header__menu li:hover {
  background-color: var(--col-wh);
}
.header__menu li:hover::before {
  opacity: 1;
}
.header__menu li:hover a span {
  color: var(--col05);
}
.header__menu li:hover .arrow-icon path {
  stroke: var(--col02);
}
.header__menu li:hover .arrow-icon line {
  transform: translateY(0);
  transition: all 0.3s;
  stroke: var(--col02);
}
.header__menu li.active {
  background-color: var(--col-wh);
  color: var(--col05);
}
.header__menu li.active:hover span, .header__menu li.active:active span {
  color: var(--col05);
}
.header__submenu {
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  color: var(--col05);
  top: 100%;
  left: 0;
  padding: 15px 0 9px;
}
.header__submenu li {
  padding: 0;
}
.header__submenu li::before {
  display: none;
}
.header__submenu a {
  padding: 8px 40px;
  display: flex;
  transition: all 0.3s;
}
.header__submenu a span {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding-left: 16px;
  transform: translateX(0);
  transition: transform 0.3s, background-color 0.1s;
}
.header__submenu a span::before {
  content: "";
  display: block;
  width: 8px;
  height: 2px;
  background-color: var(--col01);
  position: absolute;
  left: 0;
  transition: width 0.3s, transform 0.3s;
}
.header__submenu a:hover {
  background-color: var(--col02);
  color: var(--col-wh);
}
.header__submenu a:hover span {
  color: inherit !important;
  transform: translateX(8px);
}
.header__submenu a:hover span::before {
  width: 16px;
  transform: translateX(-8px);
  background-color: var(--col03);
}
.header__submenu a.active {
  background-color: var(--col01);
  color: var(--col-wh);
}
.header__submenu a.active span {
  color: var(--col-wh) !important;
}
.header__submenu a.active span::before {
  background-color: var(--col03);
}
.header__contacts {
  margin-left: auto;
  position: relative;
  padding-right: 20px;
}
.header__contacts:after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--col01);
}
.header__contacts-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 6px;
}
.header__logo-two span {
  display: block;
  font-family: var(--ff2);
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
}
.header__tel a {
  display: flex;
  align-items: center;
  font-family: var(--ff2);
  transition: all 0.3s;
  color: inherit;
}
.header__tel a span {
  margin-left: 8px;
  transition: all 0.3s;
}
.header__tel a:hover, .header__tel a:focus {
  color: var(--col03);
}
.header__buttons {
  display: none;
}
@media (max-width: 1300px) {
  .header__menu {
    flex-grow: 2;
  }
  .header__menu ul {
    justify-content: center;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__logo-two span {
    font-size: 26px;
  }
}
@media (max-width: 1100px) {
  .header {
    padding: 15px 0;
  }
  .header__logo img {
    height: 50px;
    width: auto;
  }
  .header__contacts-flex {
    margin-top: 0;
  }
  .header__menu {
    display: none;
    flex-grow: initial;
  }
  .header__buttons {
    display: block;
  }
  .header__contacts:after {
    display: none;
  }
}
@media (max-width: 425px) {
  .header__contacts {
    margin-left: 0;
    padding-right: 0;
  }
  .header__logo-two {
    margin-bottom: 5px;
  }
  .header__logo-two span {
    font-size: 20px;
  }
  .header__tel svg {
    display: none;
  }
  .header__tel span {
    margin: 0 !important;
  }
}
@media (max-width: 375px) {
  .header__logo {
    max-width: 95px;
  }
  .header__logo img {
    display: block;
    object-fit: contain;
    height: initial;
  }
  .header__logo-two span {
    font-size: 18px;
  }
  .header__tel a span {
    font-size: 12px;
  }
}

.mobile-menu {
  display: block;
  left: -100%;
  position: fixed;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: auto;
  z-index: 998;
  background-color: #292929;
  transition: all 0.3s;
  padding: 10% 0;
}
.mobile-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.mobile-menu__item {
  width: 100%;
  max-width: 100%;
  border-bottom: 1px solid;
  position: relative;
  border-color: rgba(255, 255, 255, 0.3);
}
.mobile-menu__item a {
  padding: 23px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.mobile-menu__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: initial;
  gap: 0;
}
.mobile-menu__sublist li {
  border-bottom: 1px solid;
  position: relative;
  border-color: rgba(255, 255, 255, 0.3);
  margin: 0 24px;
}
.mobile-menu__sublist li:last-child {
  border-bottom: none;
}
.mobile-menu__sublist li:last-child a {
  padding-bottom: 34px;
}
.mobile-menu__sublist a {
  padding: 17px 10px;
  justify-content: initial;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  position: relative;
}
.mobile-menu__sublist a::before {
  content: "";
  background-color: var(--col03);
  width: 8px;
  height: 2px;
  position: absolute;
  left: 0;
  transition: width 0.3s, transform 0.3s;
}
.mobile-menu__sublist a span {
  transition: all 0.3s;
  transform: translateX(0);
}
.mobile-menu__sublist a:hover span, .mobile-menu__sublist a:active span {
  color: #ffffff;
  transform: translateX(8px);
}
.mobile-menu__sublist a:hover::before, .mobile-menu__sublist a:active::before {
  width: 16px;
  background-color: var(--col03);
}
@media (max-width: 1100px) {
  .mobile-menu__sublist {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .mobile-menu__link svg {
    transform: rotate(0);
    transition: all 0.3s;
  }
  .mobile-menu__link .line {
    transform: translateX(8px) !important;
  }
  .mobile-menu__link.active svg {
    transform: rotate(-90deg);
  }
  .mobile-menu__link.active .line {
    transform: translateX(0) !important;
  }
  .mobile-menu__link.active + .mobile-menu__sublist {
    opacity: initial;
    visibility: initial;
    height: initial;
    overflow: initial;
  }
}
@media (max-width: 375px) {
  .mobile-menu {
    top: 74px;
  }
}

.first__slider-item {
  height: 100vh;
}
.first__slider-image {
  position: absolute;
  width: 100%;
  height: 100%;
}
.first__slider-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.first__slider-content {
  position: relative;
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.first__slider-content .wrapper {
  margin-bottom: 128px;
}
.first .title {
  font-size: 80px;
}
.first .text {
  margin-bottom: 25px;
}
.first__slider-navigation {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
}
.first__slider-navigation .wrapper {
  position: relative;
  margin-bottom: 128px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.first__slider-navigation ul {
  display: flex;
  max-width: max-content;
}
.first__slider-navigation li {
  margin-right: 16px;
}
.first__slider-navigation li:last-child {
  margin-right: 0;
}
.first .swiper-button-next,
.first .swiper-button-prev {
  position: initial;
  margin: 0;
}
.first .swiper-pagination {
  max-width: max-content;
  position: initial;
  margin: 0;
  width: initial;
  margin-right: 32px;
}
@media (max-width: 1024px) {
  .first__slider-item {
    height: initial;
  }
  .first__slider-content {
    padding: 40px 0;
    min-height: 575px;
  }
  .first__slider-content .wrapper {
    margin-bottom: initial;
  }
  .first__slider-content .title {
    font-size: 60px;
  }
  .first__slider-content .text {
    font-size: 18px;
  }
  .first__slider-navigation .wrapper {
    margin-bottom: 40px;
  }
}
.first--mod .first__slider-item {
  height: initial;
  min-height: 640px;
}

.home-slider {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 780px;
}
.home-slider .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
  padding-bottom: 128px;
}
.home-slider .swiper-navigation {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}
.home-slider .swiper-button {
  position: relative !important;
  top: initial !important;
  left: initial !important;
  right: initial !important;
  bottom: initial !important;
}
.home-slider__controls {
  position: absolute;
  right: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 32px;
}
.home-slider__photo-slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.home-slider__photo-slide::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, #333333 0%, rgba(51, 51, 51, 0) 54.07%), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 2;
}
.home-slider__photo-slide .slider__paralax-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: bottom;
}
.home-slider__photo-slide .swiper-slide {
  position: relative;
  transform-origin: 0%;
  transition: all 0.3s;
}
.home-slider__photo-slide .swiper-slide img {
  transition: all 45000ms;
}
.home-slider__photo-slide .swiper-slide-active img {
  transform-origin: center left;
  animation: grow 45000ms ease;
}
.home-slider__text-slide h1 {
  margin: 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5px;
}
.home-slider__text-slide p {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 25px;
}
.home-slider__text-slide .swiper-slide {
  opacity: 0;
  transition: all 0.3s;
}
.home-slider__text-slide .swiper-slide-active {
  opacity: 1;
}
.home-slider .swiper-pagination {
  position: initial;
  width: initial;
  margin: 0;
  font-family: var(--ff1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .home-slider {
    height: 620px;
    min-height: 620px;
  }
  .home-slider .wrapper {
    padding-bottom: 32px;
  }
  .home-slider__text-slide h1 {
    font-size: 56px;
  }
}
@media (max-width: 768px) {
  .home-slider {
    height: 500px;
    min-height: 500px;
  }
  .home-slider__text-slide h1 {
    font-size: 40px;
  }
  .home-slider__text-slide p {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .home-slider__controls {
    right: 20px;
  }
  .home-slider .swiper-pagination {
    display: none;
  }
  .home-slider__controls {
    grid-template-columns: auto;
  }
}

.slider-mod .home-slider {
  min-height: initial !important;
  height: initial !important;
}
.slider-mod .home-slider .wrapper {
  min-height: 640px;
}
@media (max-width: 1440px) {
  .slider-mod .home-slider .wrapper {
    min-height: 550px;
  }
}
@media (max-width: 1024px) {
  .slider-mod .home-slider .wrapper {
    min-height: 490px;
  }
}
@media (max-width: 425px) {
  .slider-mod .home-slider .wrapper {
    padding-bottom: 0;
  }
}

.catalog-preview {
  background-color: var(--col05);
  color: var(--col06);
}
.catalog-preview--mod {
  padding-bottom: 80px;
}
.catalog-preview--mod2 {
  border: none;
  padding-bottom: 80px;
}
.catalog-preview--mod2 .content-grid {
  margin-top: initial;
}
@media (max-width: 1024px) {
  .catalog-preview .section-grid__left {
    padding-top: 0;
  }
}
@media (max-width: 425px) {
  .catalog-preview {
    border-top: none;
    padding-bottom: 40px;
  }
}

.sale {
  background-color: var(--col02);
  color: var(--col06);
  padding-bottom: 80px;
  border-top: none;
}
.sale .content-grid {
  grid-template-columns: 1fr 1fr;
  margin-top: -80px;
}
.sale .content-grid__item-footer {
  padding: 0 24px;
}
.sale .content-grid__item-description {
  margin-bottom: 32px;
  color: inherit !important;
}
@media (max-width: 1024px) {
  .sale .content-grid {
    margin-top: initial;
  }
}
@media (max-width: 650px) {
  .sale .content-grid {
    grid-template-columns: 1fr;
  }
  .sale .content-grid__photo {
    max-height: 250px;
  }
  .sale .content-grid__photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-position: center;
  }
}

.contact-us {
  background-color: var(--col02);
  color: var(--col06);
  padding: 66px 0 80px;
  border: none;
}
.contact-us .section-grid__left {
  padding: initial;
}
.contact-us .section-grid__content {
  gap: 32px;
}
.contact-us .content-grid {
  margin-top: initial;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.contact-us .content-grid__card {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}
.contact-us .content-grid__card--big {
  grid-column: 1/-1;
}
.contact-us .content-grid__card--long {
  grid-column: 1/3;
}
.contact-us label {
  margin-bottom: 24px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.contact-us input {
  height: 48px;
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 2;
  padding: 5px 15px;
}
.contact-us textarea {
  width: 100%;
  max-width: 100%;
  padding: 5px 15px;
}
.contact-us .button {
  height: 56px;
  padding: 16px 16.5px;
  margin-left: auto;
}
.contact-us .input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us .input-wrap::before {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  position: absolute;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  display: block;
  left: -4px;
  top: -4px;
  pointer-events: none;
  z-index: 0;
}
.contact-us .accept {
  margin: 0;
  position: relative;
  padding-left: 40px;
  margin-bottom: 0;
}
.contact-us .accept p {
  margin: 0;
}
.contact-us .accept a {
  color: var(--col03);
  position: relative;
  display: inline-block;
}
.contact-us .accept a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background-color: var(--col03);
}
.contact-us .accept input[type=checkbox] {
  max-width: initial;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}
.contact-us .accept input[type=checkbox] + p::before {
  content: "";
  background-image: url(../img/icons/checkbox-off.svg);
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.contact-us .accept input[type=checkbox]:checked + p::before {
  background-image: url(../img/icons/checkbox-on.svg);
}
.contact-us .error-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 0;
  color: #ffffff;
  display: none;
}
.contact-us .error::before {
  border-width: 2px;
  border-color: red;
}
.contact-us .error + .error-message {
  display: block;
}
@media (max-width: 768px) {
  .contact-us .content-grid {
    gap: 16px;
  }
  .contact-us .content-grid {
    grid-template-columns: 1fr 1fr !important;
  }
  .contact-us .content-grid__card--long {
    grid-column: initial !important;
  }
  .contact-us .button {
    width: 100%;
    max-width: 100%;
  }
  .contact-us label {
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .contact-us {
    padding: 50px 0 55px;
  }
  .contact-us .content-grid {
    grid-template-columns: 1fr !important;
    gap: 0;
  }
  .contact-us label {
    margin-bottom: 10px;
  }
  .contact-us .content-grid__card {
    margin-bottom: 22px;
  }
  .contact-us .content-grid__card:last-child {
    margin-bottom: 0;
  }
  .contact-us .button {
    margin-left: initial;
  }
  .contact-us .accept {
    padding-left: 32px;
    font-size: 14px !important;
  }
}
@media (max-width: 425px) {
  .contact-us .button {
    max-width: 100%;
  }
  .contact-us label {
    font-size: 16px;
  }
}
.contact-us--big .content-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  background-color: var(--col07);
  color: var(--col06);
  padding: 53px 0 50px;
}
.footer__grid {
  display: grid;
  grid-template-columns: 4fr 2fr 6fr;
  gap: 32px;
}
.footer__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__nav li {
  position: relative;
}
.footer__nav li:after {
  content: "";
  background-color: rgba(217, 217, 217, 0.3);
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.footer__nav li:last-child:after {
  display: none;
  padding-bottom: 0;
}
.footer__nav a {
  color: var(--col-wh);
  font-family: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 25px 0 22px;
  position: relative;
  width: 100%;
  font-weight: 700;
}
.footer__nav a svg {
  pointer-events: none;
}
.footer__nav a .line {
  transition: all 0.3s;
  transform: translateX(8px);
}
.footer__nav a:hover .line, .footer__nav a:focus .line {
  transform: translateX(0);
}
.footer__nav--mod li {
  display: block;
}
.footer__head-link svg {
  transform: rotate(90deg);
}
@media (max-width: 768px) {
  .footer__sublist {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .footer__head-link svg {
    transform: rotate(0);
  }
}
.footer__sublist a {
  color: rgba(255, 255, 255, 0.7);
}
.footer__head-link {
  position: relative;
}
.footer__head-link svg {
  transition: all 0.3s;
}
.footer__head-link .line {
  transform: translateX(8px) !important;
}
.footer__head-link:after {
  content: "";
  background-color: rgba(217, 217, 217, 0.3);
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.footer__head-link.active svg {
  transform: rotate(90deg);
}
.footer__head-link.active .line {
  transform: translateX(0) !important;
}
.footer__head-link.active + .footer__sublist {
  opacity: initial;
  visibility: initial;
  height: initial;
  overflow: initial;
}
.footer__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 32px;
}
.footer__sublist li::after {
  display: none !important;
}
.footer__sublist a {
  position: relative;
  padding: 10px 0;
  padding-left: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.footer__sublist a span {
  transition: all 0.3s;
  transform: translateX(0);
}
.footer__sublist a::before {
  content: "";
  background-color: var(--col03);
  width: 8px;
  height: 2px;
  position: absolute;
  left: 0;
  transition: width 0.3s, transform 0.3s;
}
.footer__sublist a:hover span, .footer__sublist a:focus span {
  color: #ffffff;
  transform: translateX(8px);
}
.footer__sublist a:hover::before, .footer__sublist a:focus::before {
  width: 16px;
  background-color: var(--col03);
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
.footer__address {
  margin: 0;
  margin-bottom: 33px;
}
.footer__address li {
  margin-bottom: 12px;
}
.footer__copy {
  font-size: 16px;
}
.footer__copy a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.footer__copy a b {
  margin: 0 12px;
}
.footer__copy a svg {
  pointer-events: none;
  transition: all 0.6s;
}
.footer__copy a svg rect {
  transition: all 0.6s;
  fill: #e50012;
}
.footer__copy a:hover svg {
  scale: 1.1;
}
.footer__copy a:hover svg rect {
  fill: #007579;
}
.footer__copy p {
  margin: 0;
}
@media (max-width: 1024px) {
  .footer__grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer__info {
    grid-column: 1/-1;
    align-items: initial;
    text-align: initial;
    flex-direction: row;
    gap: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__copy {
    text-align: right;
  }
  .footer__address {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .footer__grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .footer__info {
    grid-column: initial;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .footer__copy {
    text-align: initial;
  }
  .footer__copy a {
    justify-content: initial;
  }
}
@media (max-width: 425px) {
  .footer {
    padding-top: 9px;
  }
  .footer__sublist {
    grid-template-columns: 1fr;
  }
}

.page {
  padding-top: 0;
  padding-bottom: 64px;
}
.page--clear {
  padding-bottom: 0;
}
.page--wrap {
  padding: 40px 0;
}
.page__top {
  margin-bottom: 35px;
}
.page__top .title {
  margin: 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .page__top .title {
    font-size: 48px;
  }
}
@media (max-width: 425px) {
  .page__top .title {
    font-size: 30px;
  }
}
.page__body {
  font-size: 16px;
  color: #c1c1c1;
}
.page__body strong,
.page__body b {
  color: #ffffff;
}
.page__body h2,
.page__body h3,
.page__body h4,
.page__body h5,
.page__body h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.page__body h2 {
  font-size: 24px;
}
.page__body h3 {
  font-size: 22px;
}
.page__body h4 {
  font-size: 20px;
}
.page__body h5 {
  font-size: 18px;
}
.page__body h6 {
  font-size: 16px;
}
.page__body ul,
.page__body ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page__body li {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 32px;
  margin-bottom: 12px;
}
.page__body li:last-child {
  margin-bottom: 0;
}
.page__body li:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #e50012;
  left: 0;
}

.map {
  width: 100%;
  position: relative;
  z-index: 10;
}
.map__content {
  height: 520px;
  width: 100%;
}
@media (max-width: 768px) {
  .map__content {
    height: 320px;
  }
}

/** dealer-detail */
[class*=copyrights-pane] {
  display: none !important;
}

.custom-slider {
  display: grid;
  grid-template-columns: 1fr 88px;
  gap: 32px;
  margin-bottom: 38px;
  position: relative;
}
.custom-slider__big-photo {
  position: relative;
  max-height: 608px;
  overflow: hidden;
}
.custom-slider__big-photo .custom-slider__navigation {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 11;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}
.custom-slider__small-photo {
  position: relative;
  display: grid;
  align-items: center;
  gap: 6px;
  grid-template-rows: 24px auto 24px;
  max-height: 608px;
}
.custom-slider__small-photo .swiper {
  max-height: 100%;
  overflow: hidden;
}
.custom-slider__small-photo .swiper-slide {
  height: 64px !important;
  width: 88px !important;
  position: relative;
  cursor: pointer;
}
.custom-slider__small-photo .swiper-slide::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--col01);
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
}
.custom-slider__small-photo .swiper-slide-thumb-active::after {
  width: 100%;
}
.custom-slider__small-photo .navigation-button {
  z-index: 2;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.custom-slider__small-photo .navigation-button::before {
  background-color: transparent;
}
.custom-slider__small-photo .navigation-button-prev {
  transform: rotate(90deg);
}
.custom-slider__small-photo .navigation-button-prev:active .arrow-icon path, .custom-slider__small-photo .navigation-button-prev:hover .arrow-icon path {
  stroke: var(--col01);
  transform: translateX(0);
}
.custom-slider__small-photo .navigation-button-prev:active .arrow-icon .line, .custom-slider__small-photo .navigation-button-prev:hover .arrow-icon .line {
  transform: translateX(-8px) !important;
}
.custom-slider__small-photo .navigation-button-next {
  transform: rotate(90deg);
}
.custom-slider__small-photo .navigation-button-next:active .arrow-icon path, .custom-slider__small-photo .navigation-button-next:hover .arrow-icon path {
  stroke: var(--col01);
  transform: translateX(0) !important;
}
.custom-slider__small-photo .navigation-button-next:active .arrow-icon .line, .custom-slider__small-photo .navigation-button-next:hover .arrow-icon .line {
  transform: translateX(8px) !important;
}
.custom-slider__small-photo .navigation-button .navigation-button-next:active .arrow-icon .line, .custom-slider__small-photo .navigation-button .navigation-button-next:hover .arrow-icon .line {
  transform: translateX(0) !important;
}
.custom-slider .swiper-button-disabled {
  opacity: 0.2 !important;
  pointer-events: none;
  cursor: wait;
}
@media (max-width: 768px) {
  .custom-slider {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .custom-slider__big-photo {
    max-height: 420px;
  }
  .custom-slider__small-photo {
    grid-template-columns: 24px auto 24px;
    grid-template-rows: initial;
    max-height: initial;
  }
  .custom-slider__small-photo .swiper {
    width: 100%;
  }
  .custom-slider__small-photo .navigation-button-prev {
    transform: rotate(0);
  }
  .custom-slider__small-photo .navigation-button-next {
    transform: rotate(0);
  }
}
.custom-slider--mod {
  grid-template-columns: 1fr;
  gap: 16px;
}
.custom-slider--mod .custom-slider__big-photo {
  max-height: 688px;
}
.custom-slider--mod .custom-slider__small-photo {
  grid-template-columns: 24px auto 24px;
  grid-template-rows: initial !important;
  max-height: initial;
  gap: 16px;
}
.custom-slider--mod .custom-slider__small-photo .swiper {
  width: 100%;
}
.custom-slider--mod .custom-slider__small-photo .navigation-button-prev {
  transform: rotate(0);
}
.custom-slider--mod .custom-slider__small-photo .navigation-button-next {
  transform: rotate(0);
}

.truck-card {
  padding-bottom: 80px;
}
.truck-card__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.truck-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-sticky .header {
  background-color: var(--col08);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  opacity: 0;
  transition: all 0.3s, width 0.2s;
  width: 120%;
  z-index: 1;
  pointer-events: none;
  visibility: hidden;
}

li:hover .dropdown-menu {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.mob-menu-open {
  overflow: hidden;
}
.mob-menu-open .header {
  background-color: #292929;
}
.mob-menu-open .mobile-menu {
  left: 0;
}