:root {
  --ff1: "PT Sans", sans-serif;
  --ff2: "Rubik", sans-serif;

  --col01: #E50012;
  --col02: #007579;
  --col03: #FFF100;
  --col04: #333333;
  --col05: #333333;
  --col06: #ffffff;
  --col07: #1B1B1B;
  --col08: #292929;

  --col-wh: #ffffff;

  --fsz: 16px;
  --bdr-op: 0.1;
}
