.catalog-preview {
  background-color: var(--col05);
  color: var(--col06);

  &--mod {
    padding-bottom: 80px;
  }
  &--mod2 {
    border: none;

    .content-grid {
      margin-top: initial;
    }
  }


  @media (max-width: 1024px) {
    .section-grid__left {
      padding-top: 0;
    }
  }

  @media (max-width: 425px) {
    border-top: none;
    padding-bottom: 40px;
  }
}
