.contact-us {
  background-color: var(--col02);
  color: var(--col06);
  padding: 66px 0 80px;
  border: none;

  .section-grid__left {
    padding: initial;
  }
  .section-grid__content {
    gap: 32px;
  }

  .content-grid {
    margin-top: initial;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &__card {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;

      &--big {
        grid-column: 1/-1;
      }
      &--long {
        grid-column: 1/3;
      }
    }
  }
  label {
    margin-bottom: 24px;
    font-size: 18px;
    color: rgba(#ffffff, 0.7);
  }
  input {
    height: 48px;
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 2;
    padding: 5px 15px;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    padding: 5px 15px;
  }

  .button {
    height: 56px;
    padding: 16px 16.5px;
    margin-left: auto;
  }

  .input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      position: absolute;
      border: 1px solid;
      border-color: rgba(#ffffff, 0.3);
      display: block;
      left: -4px;
      top: -4px;
      pointer-events: none;
      z-index: 0;
    }
  }

  .accept {
    margin: 0;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0;
    p {
      margin: 0;
    }
    a {
      color: var(--col03);
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 100%;
        height: 1px;
        background-color: var(--col03);
      }
    }

    input[type="checkbox"] {
      max-width: initial;
      pointer-events: none;
      visibility: hidden;
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      white-space: nowrap;
      border: 0;
      -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
    }

    input[type="checkbox"] + p::before {
      content: "";
      background-image: url(../img/icons/checkbox-off.svg);
      position: absolute;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
    }

    input[type="checkbox"]:checked + p::before {
      background-image: url(../img/icons/checkbox-on.svg);
    }
  }
  .error-message {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 0;
    color: #ffffff;
    display: none;
  }

  // input:not([value]) + .input-wrap:after {
  //   border-color: green;
  // }

  .error {
    &::before {
      border-width: 2px;
      border-color: red;
    }

    & + .error-message {
      display: block;
    }
  }

  @media (max-width: 768px) {
    .content-grid {
      gap: 16px;
    }

    .content-grid {
      grid-template-columns: 1fr 1fr !important;
    }

    .content-grid__card--long {
      grid-column: initial !important;
    }
    .button {
      width: 100%;
      max-width: 100%;
    }
    label {
      margin-bottom: 12px;
    }
  }

  @media (max-width: 600px) {
    padding: 50px 0 55px;

    .content-grid {
      grid-template-columns: 1fr !important;
      gap: 0;
    }
    label {
      margin-bottom: 10px;
    }
    .content-grid__card {
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .button {
      margin-left: initial;
    }
    .accept {
      padding-left: 32px;
      font-size: 14px !important;
    }
  }

  @media (max-width: 425px) {
    .button {
      max-width: 100%;
    }
    label {
      font-size: 16px;
    }
  }

  &--big {
    .content-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
