.first {
  &__slider-item {
    height: 100vh;
    // position: relative;
  }
  &__slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__slider-content {
    position: relative;
    display: flex;
    height: 100%;
    align-items: flex-end;

    .wrapper {
      margin-bottom: 128px;
    }
  }

  .title {
    font-size: 80px;
  }
  .text {
    margin-bottom: 25px;
  }

  &__slider-navigation {
    position: absolute;
    z-index: 99;
    width: 100%;
    bottom: 0;
    right: 0;

    .wrapper {
      position: relative;
      margin-bottom: 128px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    ul {
      display: flex;
      max-width: max-content;
    }
    li {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: initial;
    margin: 0;
  }
  .swiper-pagination {
    max-width: max-content;
    position: initial;
    margin: 0;
    width: initial;
    margin-right: 32px;
  }

  @media (max-width: 1024px) {

    &__slider-item {
      height: initial;
    }
    &__slider-content {
      padding: 40px 0;
      min-height: 575px;
      .wrapper {
        margin-bottom: initial;
      }
      .title {
        font-size: 60px;
      }
      .text {
        font-size: 18px;
      }
    }
    &__slider-navigation {
      .wrapper {
        // margin-bottom: initial;
        margin-bottom: 40px;
      }
    }
  }
}
