.footer {
  background-color: var(--col07);
  color: var(--col06);
  padding: 53px 0 50px;

  &__grid {
    display: grid;
    grid-template-columns: 4fr 2fr 6fr;
    gap: 32px;
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;

      &:after {
        content: "";
        background-color: rgba(217, 217, 217, 0.3);
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -1px;
      }

      &:last-child:after {
        display: none;
        padding-bottom: 0;
      }
    }
    a {
      // color: rgba(#ffffff, 0.7);
      color: var(--col-wh);
      font-family: inherit;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      line-height: 1;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      padding: 25px 0 22px;
      position: relative;
      width: 100%;
      font-weight: 700;

      svg {
        pointer-events: none;
      }
      .line {
        transition: all 0.3s;
        transform: translateX(8px);
      }

      &:hover,
      &:focus {
        .line {
          transform: translateX(0);
        }
      }
    }

    &--mod {
      li {
        display: block;
      }
    }
  }

  &__head-link {
    svg {
      transform: rotate(90deg);
    }
  }

  @media (max-width: 768px) {
    &__sublist {
      opacity: 0;
      visibility: hidden;
      height: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      transition: all 0.3s;
    }

    &__head-link {
      svg {
        transform: rotate(0);
      }
    }


  }
  &__sublist {

    a {
      color: rgba(#ffffff, 0.7);
    }
  }

  &__head-link {
    position: relative;

    svg {
      transition: all 0.3s;
    }
    .line {
      transform: translateX(8px) !important;
    }

    &:after {
      content: "";
      background-color: rgba(217, 217, 217, 0.3);
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: -1px;
    }

    &.active {
      svg {
        transform: rotate(90deg);
      }
      .line {
        transform: translateX(0) !important;
      }
      & + .footer__sublist {
        opacity: initial;
        visibility: initial;
        height: initial;
        overflow: initial;
      }
    }
  }

  &__sublist {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 32px;

    li {
      &::after {
        display: none !important;
      }
    }

    a {
      position: relative;
      padding: 10px 0;
      padding-left: 24px;
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: 700;
      span {
        transition: all 0.3s;
        transform: translateX(0);
      }

      &::before {
        content: "";
        background-color: var(--col03);
        width: 8px;
        height: 2px;
        position: absolute;
        left: 0;
        transition: width 0.3s, transform 0.3s;
      }

      &:hover,
      &:focus {
        span {
          color: #ffffff;
          transform: translateX(8px);
        }
        &::before {
          width: 16px;
          background-color: var(--col03);
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
  }

  &__address {
    margin: 0;
    margin-bottom: 33px;
    li {
      margin-bottom: 12px;
    }
  }
  &__copy {
    font-size: 16px;
    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;

      b {
        margin: 0 12px;
      }
      svg {
        pointer-events: none;
        transition: all 0.6s;
        rect {
          transition: all 0.6s;
          fill: #e50012;
        }
      }

      &:hover {
        svg {
          scale: 1.1;
          rect {
            fill: #007579;
          }
        }
      }
    }
    p {
      margin: 0;
    }
  }

  @media (max-width: 1024px) {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
    &__info {
      grid-column: 1/-1;
      align-items: initial;
      text-align: initial;
      flex-direction: row;
      gap: 32px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__copy {
      text-align: right;
    }
    &__address {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    &__grid {
      grid-template-columns: 1fr;
      gap: 0;
    }
    &__info {
      grid-column: initial;
      grid-template-columns: 1fr;
      gap: 0;
    }
    &__copy {
      text-align: initial;
      a {
        justify-content: initial;
      }
    }
  }

  @media (max-width: 425px) {
    padding-top: 9px;
    &__sublist {
      grid-template-columns: 1fr;
    }
  }
}
