.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(#ffffff, 0.3);
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 40px;
    a {
      display: flex;
      align-items: center;
      min-height: var(--elem-sz);
      // padding: 0 18px;
      background-color: transparent;
      max-width: max-content;
      transition: all 0.3s;

      &:hover,
      &:active,
      &:focus {
        background-color: var(--col4);
      }
    }
    svg {
      width: 34px;
      height: 33px;
      margin-right: 33px;
    }
    span {
      font-family: var(--ff1);
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      color: var(--col-wh);
      margin: 0;
      padding: 0;
    }
  }

  &__menu {
    ul {
      display: flex;
    }
    li {
      padding: 28px 16px;
      position: relative;
      z-index: 22;
      background-color: transparent;
      transition: all 0.3s;
    }
    a {
      font-size: 14px;
      height: 100%;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      font-weight: 700;

      span {
        position: relative;
        z-index: 2;
        // margin-right: 7px;
      }
      svg {
        position: relative;
        z-index: 2;
        pointer-events: none;
        margin-left: 8px;
      }
    }

    li:hover {
      background-color: var(--col-wh);
      &::before {
        opacity: 1;
      }
      a span {
        color: var(--col05);
      }
      .arrow-icon {
        path {
          stroke: var(--col02);
        }
        line {
          transform: translateY(0);
          transition: all 0.3s;
          stroke: var(--col02);
        }
      }
    }
    // активный пункт
    li.active {
      background-color: var(--col-wh);
      color: var(--col05);
      &:hover,
      &:active {
        span {
          color: var(--col05);
        }
      }
    }
  }

  &__submenu {
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    color: var(--col05);
    top: 100%;
    left: 0;
    padding: 15px 0 9px;
    li {
      padding: 0;
      &::before {
        display: none;
      }
    }
    a {
      padding: 8px 40px;
      display: flex;
      transition: all 0.3s;

      span {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0;
        padding-left: 16px;
        transform: translateX(0);
        transition: transform 0.3s, background-color 0.1s;

        &::before {
          content: "";
          display: block;
          width: 8px;
          height: 2px;
          background-color: var(--col01);
          position: absolute;
          left: 0;
          transition: width 0.3s, transform 0.3s;
        }
      }

      &:hover {
        background-color: var(--col02);
        color: var(--col-wh);
        span {
          color: inherit !important;
          transform: translateX(8px);

          &::before {
            width: 16px;
            transform: translateX(-8px);
            background-color: var(--col03);
          }
        }
      }

      // активный пункт
      &.active {
        background-color: var(--col01);
        color: var(--col-wh);

        span {
          color: var(--col-wh) !important;

          &::before {
            background-color: var(--col03);
          }
        }
      }
    }
  }

  &__contacts {
    margin-left: auto;
    position: relative;
    padding-right: 20px;

    &:after {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background-color: var(--col01);
    }
  }
  &__contacts-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 6px;
  }

  &__logo-two {
    span {
      display: block;
      font-family: var(--ff2);
      color: inherit;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 32px;
      line-height: 1;
    }
  }
  &__tel {
    a {
      display: flex;
      align-items: center;
      font-family: var(--ff2);
      transition: all 0.3s;
      color: inherit;

      span {
        margin-left: 8px;
        transition: all 0.3s;
      }

      &:hover,
      &:focus {
        color: var(--col03);
      }
    }
  }

  &__buttons {
    display: none;
  }

  @media (max-width: 1300px) {
    &__menu {
      flex-grow: 2;

      ul {
        justify-content: center;
      }
    }
  }

  @media (max-width: 1100px) {
    padding: 15px 0;

    &__logo {
      img {
        height: 50px;
        width: auto;
      }
    }
    &__contacts-flex {
      margin-top: 0;
    }
    &__menu {
      display: none;
    }
    &__buttons {
      display: block;
    }
    &__contacts:after {
      display: none;
    }
    &__logo-two {
      span {
        font-size: 26px;
      }
    }
  }

  @media (max-width: 425px) {
    &__logo {
      margin-right: 0;
    }
    &__contacts {
      margin-left: 0;
      padding-right: 0;
    }
    &__logo-two {
      margin-bottom: 5px;
      span {
        font-size: 20px;
      }
    }
    &__tel {
      svg {
        display: none;
      }
      span {
        margin: 0 !important;
      }
    }
  }
}
