.home-slider {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 780px;
  // микс
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    padding-bottom: 128px;
  }

  .swiper-navigation {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  .swiper-button {
    position: relative !important;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    bottom: initial !important;
  }
  // Вложенные элементы
  &__controls {
    position: absolute;
    right: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 32px;
  }

  &__photo-slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, #333333 0%, rgba(51, 51, 51, 0) 54.07%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
      z-index: 2;
    }

    .slider__paralax-wrapper {
      // position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        object-position: bottom;
      }
    }

    .swiper-slide {
      position: relative;
      transform-origin: 0%;
      transition: all 0.3s;
      img {
        transition: all 45000ms;
      }
      &-active {
        img {
          transform-origin: center left;
          animation: grow 45000ms ease;
        }
      }
    }
  }
  &__text-slide {
    h1 {
      margin: 0;
      font-weight: 700;
      font-size: 80px;
      line-height: 1.1;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 5px;
    }
    p {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.4;
      color: #ffffff;
      margin-bottom: 25px;
    }

    .swiper-slide {
      opacity: 0;
      transition: all 0.3s;

      &-active {
        opacity: 1;
      }
    }
  }

  .swiper-pagination {
    position: initial;
    width: initial;
    margin: 0;

    font-family: var(--ff1);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
  }

  @media (max-width: 1024px) {
    height: 620px;
    min-height: 620px;
    .wrapper {
      padding-bottom: 32px;
    }
    &__text-slide h1 {
      font-size: 56px;
    }
  }
  @media (max-width: 768px) {
    height: 500px;
    min-height: 500px;
    &__text-slide h1 {
      font-size: 40px;
    }
    &__text-slide p {
      font-size: 16px;
    }
  }

  @media (max-width: 650px) {
    &__controls {
      right: 20px;
    }
    .swiper-pagination {
      display: none;
    }
    &__controls {
      grid-template-columns: auto;
    }
  }
}

.slider-mod {
  .home-slider {
    min-height: initial !important;
    height: initial !important;

    .wrapper {
      min-height: 640px;
    }

    @media (max-width: 1440px) {
      .wrapper {
        min-height: 550px;
      }
    }

    @media (max-width: 1024px) {
      .wrapper {
        min-height: 490px;
      }
    }
    @media (max-width: 425px) {
      .wrapper {
        padding-bottom: 0;
      }
    }
  }
}
