.page {
  padding-top: 0;
  padding-bottom: 64px;

  &--clear {
    padding-bottom: 0;
  }
  &--wrap {
    padding: 40px 0;
  }
  &__top {
    margin-bottom: 35px;

    .title {
      margin: 0;
      font-weight: 700;
      font-size: 80px;
      line-height: 1.1;
      text-transform: uppercase;
      color: #ffffff;
    }

    @media (max-width: 1024px) {
      .title {
        font-size: 48px;
      }
    }

    @media (max-width: 425px) {
      .title {
        font-size: 30px;
      }
    }
  }

  &__body {
    font-size: 16px;
    color: #c1c1c1;

    strong,
    b {
      color: #ffffff;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
    }
    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }

    ul,
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 32px;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #e50012;
        left: 0;
      }
    }
  }
}
