.sale {
  background-color: var(--col02);
  color: var(--col06);
  padding-bottom: 80px;

  .content-grid {
    grid-template-columns: 1fr 1fr;
    margin-top: -80px;

    &__item-footer {
      padding: 0 24px;
    }
    &__item-description {
      padding-top: 22px;
      padding-bottom: 26px;
    }
  }

  @media (max-width: 1024px) {
    .content-grid {
      margin-top: initial;
    }
  }
}
