.truck-card {
  padding-bottom: 80px;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @media (max-width: 768px) {
    &__grid {
      grid-template-columns: 1fr;
    }
    .sticky-content {
      position: initial;
    }
    .custom-slider {
      margin-bottom: 0;
    }
    .custom-slider__big-photo {
      max-height: 420px;
  }
  }
}
