.trucks-list {
  .first__slider-item {
    height: initial;
    min-height: 640px;
  }
  .catalog-preview {
    padding-bottom: 80px;
  }

  &--two {
    .catalog-preview {
      padding-top: 156px;

      .content-grid {
        margin-top: initial;
      }
    }
  }

}
