.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #ffffff;

    svg {
      transform: rotate(180deg);
    }
    .line {
      transform: translateX(7px);
      transition: all 0.3s;
    }
    span {
      transition: all 0.3s;
    }

    &:hover {
      .line {
        transform: translateX(0);
      }
      span {
        margin-left: 7px;
        color: var(--col03);
      }
    }
  }
}
