.section-grid {
  z-index: 2;
  position: relative;
  padding-bottom: 160px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(#ffffff, 0.3);

  &__content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 12px;
  }
  &__left {
    padding-top: 68px;
    padding-right: 20px;

    .text {
      margin: 0;
      color: rgba(#ffffff, 0.7);
      line-height: 1.5;
      margin-bottom: 34px;
      font-size: 16px;
    }
    .button {
      padding: 12px 22px;
    }
  }

  &--full {
    border: none;
    .section-grid__content {
      grid-template-columns: 1fr;
    }
    .content-grid {
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: initial;
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 90px;
    &__content {
      grid-template-columns: 1fr;
      gap: 32px;
    }
    .sticky-content {
      position: initial;
      top: initial;
    }
    &__left {
      padding-top: 50px;
      padding-right: initial;

      .title {
        font-size: 36px;
      }
    }
    &--full {
      .content-grid {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @media (max-width: 650px) {
    &--full {
      padding-bottom: 50px;
      .content-grid {
        grid-template-columns: 1fr;
      }
    }
  }

  @media (max-width: 425px) {
    .section-grid__left .title {
      margin-bottom: 10px;
      font-size: 30px;
    }
    .section-grid__left .text {
      margin-bottom: 16px;
      font-size: 16px;
    }
  }
}
