.swiper-button,
.navigation-button {
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  transition: all 0.3s;
  z-index: 2;
  background-color: transparent;
  position: relative !important;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  margin: 0;
  cursor: pointer;

  &::after {
    display: none;
  }

  &::before {
    content: "";
    display: block !important;
    width: calc(100%);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--col01);
    transition: all 0.2s ease-in-out;
  }

  svg {
    z-index: 2;
    pointer-events: none;
    flex-shrink: 0;
    position: absolute;
  }

  &:hover::before {
    width: calc(100% + 16px);
    // height: calc(100% + 16px);
    left: -8px;
    right: -8px;
    // top: -8px;
    // bottom: -8px;
  }
}

.swiper-button-prev,
.navigation-button-prev {
  path {
    transform: translateX(8px);
    transition: all 0.3s;
  }
  .line {
    stroke: #ffffff;
    transform: translateX(-8px);
    transition: all 0.3s;
  }
  &:active,
  &:hover,
  &:focus {
    path {
      transform: translateX(0);
    }
    .line {
      transform: translateX(0);
    }
  }

  @media (max-width: 375px) {
    height: 44px !important;
    width: 44px !important;
  }
}

.swiper-button-next,
.navigation-button-next {
  path {
    transform: translateX(-8px);
    transition: all 0.3s;
  }
  .line {
    stroke: #ffffff;
    transform: translateX(8px);
    transition: all 0.3s;
  }
  &:active,
  &:hover,
  &:focus {
    path {
      transform: translateX(0);
    }
    .line {
      transform: translateX(0);
    }
  }
  @media (max-width: 375px) {
    height: 44px !important;
    width: 44px !important;
  }
}

.navigation-button--disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
