.dropdown-menu {
  opacity: 0;
  transition: all 0.3s, width 0.2s;
  // transform: translateY(-200%);
  width: 120%;
  z-index: 1;
  pointer-events: none;

}

li:hover .dropdown-menu {
  opacity: 1;
  // transform: translateY(0);
  pointer-events: initial;
  // width: 120%;
}
